body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
}
h1, h3 {
  font-family: 'Mina';
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
label {
  color: white;
  font-size: 20px;
}
button {
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, body, tr, td {
  border: 3px solid black;
}
#topnav {
  background-color: #000;
  overflow: hidden;
}
#topnav a {
  float: left;
  padding: 10px;
  font-family: cursive;
  font-size: 20px;
}
#topnav-right {
  float: right;
}
.main {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 80%;
}
.row {
  display: table;
  clear: both;
  margin: 20px 0px 0px 70px;
}
.column {
  float: left;
  width: 350px;
}
@media only screen and (max-width: 1200px) {
    .main, .column {
      width: 100%;
    }
    .row {
      margin-left: 10%;
    }
}
.container {
  border-radius: 5px;
  background-color: #595959;
  padding: 10px;
  width: 50%;
  display: inline-block;
}
.information {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
.submit {
    border: none;
    background-color: green;
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.notice {
  color: white;
}
.actions button {
  background-color: blue;
  width: 300px;
  height: 70px;
  font-size: 25px;
  font-family: monospace;
  margin: 5px;
}
.delete {
  background-color: red;
}
